<div id="comparison-command-bar" class="flex-container">
    <mat-form-field id="granularity-selection">
      <input matInput [matDatepicker]="dp" placeholder="Year" [formControl]="firstYear">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      [startView]="'multi-year'"
                      (yearSelected)="chosenYearHandler($event, dp, 'first')"
                      (opened)="onDatepickerOpened()"
                      (closed)="onDatepickerClosed()"
                      panelClass="period-picker">
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field id="granularity-selection">
        <input matInput [matDatepicker]="dp2" placeholder="Year" [formControl]="secondYear">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2
                        [startView]="'multi-year'"
                        (yearSelected)="chosenYearHandler($event, dp2, 'second')"
                        (opened)="onDatepickerOpened()"
                        (closed)="onDatepickerClosed()"
                        panelClass="period-picker">
        </mat-datepicker>
      </mat-form-field>

      
  </div>

  <div class="diagramms-container">
    <app-emissions-comparison-column-chart></app-emissions-comparison-column-chart>
    <app-gauge-series-co2-comparison></app-gauge-series-co2-comparison>
    <app-yearly-co2-emissions-chart></app-yearly-co2-emissions-chart>
  </div>
