@import '/src/styles.scss';

.period-picker .mat-calendar-period-button {
    pointer-events: none !important;
}

.period-picker .mat-calendar-arrow {
    display: none !important;
}

.period-picker .mat-calendar-content {
    display: none !important;
}
  
.period-picker.mat-datetimepicker-open .mat-calendar-content {
    display: block !important;
}

#comparison-command-bar{
    position: sticky;
    z-index: 3000;
    top: 0;
    background-color: $background-color; 
  }

  .flex-container {
    display: flex;
    gap: 1%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 1%;
    
  }

  #baseline-year-selection{
    margin-top: 1.3vh;
    max-width: 13em;
    min-width: 5em;
  }

  #comparison-year-selection{
    margin-top: 1.3vh;
    max-width: 13em;
    min-width: 5em;
  }

.page-container {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1 1 auto;
  height: 100%;
  min-height: 250px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.diagram-container{
  margin: 0 2em;
  display: flex;
  gap: min(10vh, 10vw);
  height: 45%;
}


.title {
  height: 30px;
  font-size: $font-size-view-header;
  font-weight: normal;
  margin-left: 2em;
}

.divider {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-height: 1000px) {
  .diagram-container {
    height: 100%;
  }

}

@media (max-width: 1000px) {
  .diagram-container {
    flex-direction: column;
    height: auto;
  }

  .item {
    width: 100%;
  }
}