<div id="comparison-command-bar" class="flex-container">
    <mat-form-field id="granularity-selection">
      <input matInput [matDatepicker]="dp" placeholder="Year" [formControl]="firstYear">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      [startView]="'multi-year'"
                      (yearSelected)="chosenYearHandler($event, dp, 'first')"
                      (opened)="onDatepickerOpened()"
                      (closed)="onDatepickerClosed()"
                      panelClass="period-picker">
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field id="granularity-selection">
        <input matInput [matDatepicker]="dp2" placeholder="Year" [formControl]="secondYear">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2
                        [startView]="'multi-year'"
                        (yearSelected)="chosenYearHandler($event, dp2, 'second')"
                        (opened)="onDatepickerOpened()"
                        (closed)="onDatepickerClosed()"
                        panelClass="period-picker">
        </mat-datepicker>
      </mat-form-field>

      
  </div>

  <div class="page-container">
    <h2 class="title">CO₂ Emissions Compared</h2>
    <div class="diagram-container top">
      <app-emissions-comparison-column-chart class="item left"></app-emissions-comparison-column-chart>
      <app-gauge-series-co2-comparison class="item right"></app-gauge-series-co2-comparison>
    </div>
    <div class="divider"></div>
    <div class="diagram-container bottom">
      <app-yearly-co2-emissions-chart class="item left"></app-yearly-co2-emissions-chart>
      <app-scope-emission-comparision class="item right"></app-scope-emission-comparision>
    </div>
  </div>
