<app-comparision-bar [showArrow]="true" [additionalTimeIntervals]="[yearlyTimeIterval]"></app-comparision-bar>

<div class="page-container">
  <h2 class="title">CO₂ Emissions <app-info-button text="Comparision explanations"></app-info-button></h2>
  <div class="diagram-container top">
    <app-emissions-comparison-column-chart class="item left"></app-emissions-comparison-column-chart>
    <app-gauge-series-co2-comparison class="item right"></app-gauge-series-co2-comparison>
  </div>
  <div class="divider"></div>
  <div class="diagram-container bottom">
    <app-yearly-co2-emissions-chart class="item left"></app-yearly-co2-emissions-chart>
    <app-emissions-by-scope class="item right"></app-emissions-by-scope>
  </div>
</div>