@import '/src/styles.scss';

.page-container {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1 1 auto;
  height: 100%;
  min-height: 250px;
}

.left {
  width: 57.5%;
}

.right {
  width: 37.5%;
}

.diagram-container {
  display: flex;
  gap: 5%;
  height: 44%;
}

.divider {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-height: 1000px) {
  .diagram-container {
    height: 100%;
  }

}

@media (max-width: 1000px) {
  .diagram-container {
    flex-direction: column;
    height: 100%;
  }

  .page-container {
    height: auto;
  }

  .item {
    width: 100%;
  }
}