#baseline-year-selection {
    margin-top: 1.3vh;
    max-width: 13em;
    min-width: 5em;
}

#comparison-year-selection {
    margin-top: 1.3vh;
    max-width: 13em;
    min-width: 5em;
}

.flex-container {
    display: flex;
    gap: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}