.center-div {
    width: min(1000px,90%);
    margin: 0 auto; /* Centers the div */
    padding-left: 5%;
    padding-right: 5%;
}

section {
    margin-top: 50px;
  }

h3 {
    margin-top: 40px;
}

.comment{
    color: rgb(94, 212, 239);
}