<div id="info-page">
  <div class = "center-div">
    <header>
      <h1>Information Page</h1>
    </header>
    
    <section id="introduction">
      <h2>Introduction</h2>
  
      <p>The microgrid is a local electricity grid that generates local energy with solar panels and biogas but is also fed with electricity from the grid when necessary and feeds electricity into the grid when there is a local surplus. The microgrid supplies consumers such as houses and charging stations for electric vehicles.</p>
  
      <p>The website presents visualizations depicting the energy consumption and production of the microgrid, along with details on emissions and other key metrics. This page provides the documentation for these metrics and their sources.</p>
    </section>
  
    <section id="data-sources">
      <h2>Data Sources</h2>
  
      <p><b>Emission factors:</b> For the calculation of CO₂ emissions, the emission factors from <span style="font-style:italic;"> 
      {{currentEmissionFactorSource}}</span> are currently being used. The emission factors can be viewed in Datasets.</p>
        
      <p><span style="font-style:italic;"> IPCC</span>: The Intergovernmental Panel on Climate Change provides emission factors from 2014. These factors represent lifecycle emissions for each energy source and are originally presented as minimum, median, and maximum values. For our calculations, the median values were used. The 'Solar PV - utility' factor from the IPCC's emission factor options were used for calculating the solar emissions. Due to the absence of emission factors for certain energy carriers, we adopted the following assumptions to fill these gaps: Biogas emissions are considered equivalent to those from biomass. Emission factors for coal are applied uniformly to both brown and hard coal. For 'Other Renewables' and 'Pumped Storage,' we used the average emission factor of renewable energy sources. Similarly, for 'Other Conventional,' the average emission factor of conventional energy carriers was assigned. Reference: 
      <a href="https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf#page=7">IPCC - Technology-specific Cost and Performance Parameters</a></p>

      <!-- Additional sources of emission factors can be listed here -->
  
      <p><b>Grid energy mix:</b> Data of the energy mix within the 50 Hertz zone are used provided from SMARD by the Bundesnetzagentur. The following energy carriers are defined as renewable: Biogas, Biomass, Hydropower, Pumped Storage, Solar, Wind Offshore and Wind Onshore. The following energy carriers are assumed as non-renewable: Brown Coal, Hard Coal and Natural Gas.</p>
  
      <p><b>Local consumed and  generated energy:</b> Sensor data for local consumption and generated energy is provided by inno2grid. During the data cleaning process, all negative values from the local solar energy generation were mapped to zero. </p>
  
      <p><b>Grid electricity prices: </b> For calculating cost savings the electricity prices from SMARD by the Bundesnetzagentur are used. These are day-ahead spot market prices, not consumer prices.</p> 
  
      <p><b>Heating energy consumption:</b> Due to the lack of available data, it is assumed in our calculations that locally produced biogas energy is exclusively used for electricity generation, and not for heating purposes. However, for the purposes of the energy flow chart, we assume that the produced biogas energy is allocated differently, with 70% being used for heating and 30% for electricity generation. For the energy flow chart we also assume that 70% of the consumed energy by houses are being used for heating.</p> 
    </section>
  
    
    <section id="metrics">
      <h2>Key metrics and their calculations</h2>
  
      <!-- Emissions -->
  
      <h3>Emissions</h3>
      To calculate the emissions, the consumed energy of one source is multiplied with its emission factor. Direct emissions from local energy generation are calculated (Scope 1), as well as indirect emissions from purchased energy (Scope 2). These scopes are defined by the Greenhouse Gas Protocol. For the GRI report, biogas-related emissions are classified as biogenic emissions.

  
      <h4>Direct emissions: Scope 1</h4>
  
      <p>The formula calculates direct emissions (Scope 1) from local energy sources. It sums up emissions from each local energy source \(i\) by considering the energy generated from each source and multiplying it by the corresponding emission factor.</p>
  
      <mathjax mathString="Formula: \(S_1 = \sum_{{LocalEnergySource}_i}({GeneratedEnergy}_i * {EmissionFactor}_i)\)"/>
  
      <h4>Indirect emissions: Scope 2</h4>
  
      <p>The formula calculates indirect emissions (Scope 2) from purchased electricity by summing up emissions from each external energy source \(i\). It considers the amount of purchased electricity, the share from each source, and the emission factor for each source to estimate total emissions.</p>
  
      <mathjax mathString="Formula: \(S_2 =  \sum_{{ExternalEnergySource}_i}({PurchasedElectricity}  * {ShareInMix}_i *{EmissionFactor}_i)\)"/>
  
      <!-- KPI -->
  
      <h3>KPI metrics</h3>
  
      <h4>Self Consumption</h4>
      <p> The self consumption KPI indicates what portion of the electricity consumption is supplied by the energy generated within the microgrid, with a maximum value of 1 (or 100%). </p>
      <mathjax mathString="Formula: \( K_1 = min(\frac{{ '{' }}Consumption{{ '}' }}{{ '{' }}GeneratedEnergy{{ '}' }}, 1)\)" />
  
      <h4>Autarky</h4>
      <p>The autarky KPI is a concept closely related to self consumption. It measures the percentage to which the microgrid is self-sufficient in terms of energy production.</p>
      <mathjax mathString="Formula: \(K_2 = min(\frac{{ '{' }}GeneratedEnergy{{ '}' }}{{ '{' }}Consumption{{ '}' }}, 1)\)" />
  
      <h4>CO₂ Savings</h4>
      <p>The formula calculates the CO₂ savings by first determining the total emissions that would have resulted from using external energy sources to generate the same amount of energy as the microgrid (i.e. summing across all the external energy sources considering their share in the energy mix and their respective emission factors). It then subtracts from this value the microgrid's own direct emissions caused by its energy generation, i.e Scope 1 emissions.</p>
      <mathjax mathString="Formula: \(K_3 = \sum_{{ExternalEnergySource}_i}({GeneratedEnergy}* {ShareInMix}_i * {EmissionFactor}_i) - S_1\)" />
  
      <h4>Cost Savings</h4>
      <p>The cost savings KPI measures the financial benefit of locally produced energy in a microgrid by calculating the savings achieved compared to purchasing the same amount of energy at external electricity prices.</p>
      <mathjax mathString="Formula: \(K_4 =  GeneratedEnergy * ElectricityPrice\)" />
  
  
    </section>
    
    <section id="gri-report">
      <h2>GRI Report</h2>
      <p>A GRI report is a sustainability document guided by the Global Reporting Initiative standards, used by organizations to disclose their environmental, social, and governance (ESG) impacts. The GRI report of this website covers the modules 302-1 (Energy Consumption within the Organization), 305-1 (Direct Greenhouse Gas Emissions), and 305-2 (Energy Indirect Greenhouse Gas Emissions).</p>
    </section>
  
    </div>
    
</div>