<app-comparision-bar></app-comparision-bar>

<div class="page-container">
    <gri-table title="GRI Report" [popover]="popover"></gri-table>
</div>

<mtx-popover #popover="mtxPopover">
    <ng-template mtxPopoverContent>
        <div class = "popup">
            <p>A GRI report is a sustainability document guided by the Global Reporting Initiative standards, used by organizations to disclose their environmental, social, and governance (ESG) impacts. The GRI report of this website covers the modules 302-1 (Energy Consumption within the Organization), 305-1 (Direct Greenhouse Gas Emissions), and 305-2 (Energy Indirect Greenhouse Gas Emissions). Values are shown for two selectable years.</p>
            <p>For more information, visit the info page.</p>
        </div>
    </ng-template>
  </mtx-popover>