<div id="command-bar" class="flex-container">
    <mat-form-field>
      <mat-label>Granularity:</mat-label>
      <mat-select [(ngModel)]="selectedGranularity">
        <mat-option value="year">Year</mat-option>
        <mat-option value="quarter">Quarter</mat-option>
        <mat-option value="month">Month</mat-option>
        <mat-option value="day">Day</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
  </div>