<div id="command-bar" class="flex-container">
  
  <mat-button-toggle-group id="recent-period-selection" [(ngModel)]="recentPeriodToDisplay" (ngModelChange)="handleRecentPeriodInput()" *ngIf="granularityType == 'button'; else recentPeriodSelectionElse">
      <mat-button-toggle *ngFor="let period of recentPeriodNames" [value]="period">
        {{ period }}
      </mat-button-toggle>
  </mat-button-toggle-group>

  <ng-template #recentPeriodSelectionElse>
    <mat-form-field id="recent-period-selection-else" subscriptSizing="dynamic">
      <mat-label>Select period</mat-label>
      <mat-select [(ngModel)]="recentPeriodToDisplay" (ngModelChange)="handleRecentPeriodInput()">
        <mat-option class="select-font" *ngFor="let period of recentPeriodNames" [value]="period">
          {{ period }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>

  
  <mat-form-field id="granularity-selection" *ngIf="enableGranularitySelection" subscriptSizing="dynamic">
    <mat-label>Granularity</mat-label>
    <mat-select [(ngModel)]="selectedGranularity" (ngModelChange)="setTimeInterval()">
      <mat-option class="select-font" *ngFor="let granularity of granularities" [value]="granularity">
        {{ granularity }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field id="time-interval-selection"  *ngIf="!isSingleDatepickerDisabled()" subscriptSizing="dynamic">
    <mat-label>Enter a Date Range</mat-label>
    <mat-date-range-input [rangePicker]="pickerInterval">
      <input matStartDate placeholder="Start date" [(ngModel)]="timeInterval.start">
      <input matEndDate placeholder="End date" [(ngModel)]="timeInterval.end" (ngModelChange)="applyFilters()">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="pickerInterval"></mat-datepicker-toggle>
    <mat-date-range-picker #pickerInterval></mat-date-range-picker>
  </mat-form-field>
  
  <mat-form-field id="single-date-selection" *ngIf="isSingleDatepickerDisabled()" subscriptSizing="dynamic">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="pickerDay" [(ngModel)]="timeInterval.start" (ngModelChange)="applyFilters(true)">
    <mat-datepicker-toggle matIconSuffix [for]="pickerDay"></mat-datepicker-toggle>
    <mat-datepicker #pickerDay></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button id="reset-filter-button" (click)="resetFilters()">Reset filter</button>
</div>