@import '@angular/material/theming';
@import 'src/styles.scss';
@import 'src/app/components/navigation/navbar.component.scss';

.spacer {
    flex: 1 1 auto;
}
.diagram-button {
    text-transform: uppercase;
}

.selected {
    background-color: mat-color($frontend-primary);
    color: mat-contrast($frontend-primary, default-contrast);
}

.menu-buttons {
    display:flex; 
    flex-direction: column;
    gap: 10px; // add 10px of padding between the items
}

::ng-deep .transparent-menu {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    min-width: 0 !important;
    overflow: hidden !important;
}

mat-card-header {
    justify-content: center;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    left: var(--nav-drawer-width);
    width: calc(100% - var(--nav-drawer-width)) !important;
}