<mat-card style="box-shadow: none;"
>
    <mat-card-content>
        <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartProperties"
            [(update)]="updateFlag"
            [callbackFunction]="chartCallback"
            style="display: block; transform: scale(0.8); margin-top: -3.4em;"
        ></highcharts-chart>
    </mat-card-content>
</mat-card>

<!--
    <mat-card style="box-shadow: none;"
    [mtxPopoverTriggerFor]="popover"
    mtxPopoverTriggerOn="hover"
    #popoverTrigger="mtxPopoverTrigger"
> insert to the top of the html file




<mtx-popover 
    #popover="mtxPopover"
    [position]="['below', 'center']"
>
    <div>
        <h2>Production and Consumption Calculation</h2>

        <h3>Production</h3>
        <img src="assets/production.png" alt="production.png">

        <h3>Consumption</h3>

        <img src="assets/self-consumption.png" alt="self-consumption.png">
    </div>
</mtx-popover>
-->
