.dataset-container{
  margin: min(2vw,2vh);
}

.custom-background-color {
  background-color: #ECFCFF; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
  flex-grow: 1; 
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}