@import '/src/styles.scss';

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title {
    height: 30px;
    font-size: $font-size-view-header;
    font-weight: normal;
    margin-left: 2em;
  }

.command-bar {
    flex: 0 1 auto;
}

.diagram {
    flex: 1 1 auto;
    height: 100%;
    padding: min(10vh, 10vw);
}