<mtx-loader class="kpi-container" [loading]="loading" type="spinner" color="primary">
    <div class="spacer" *ngIf="popover"></div>

    <mat-card class="kpi-card">
        <mat-card-header *ngIf="!small" class="kpi-header">
            <span id="kpi-icon"
            [ngClass]="{'material-symbols-outlined': outlined, 'material-icons': !outlined}" 
            class="kpi-icon"
        >
            {{icon}}
        </span>
        </mat-card-header>
        <mat-card-content class="kpi-content" [class.additional-info-text]="small">
            <span>{{valueFormatted}} {{unit}}</span>
        </mat-card-content>
            
        <mat-card-footer class="kpi-footer" [class.additional-info-footer]="small">
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-footer>
    </mat-card>

    <app-info-button *ngIf="popover" [popover]="popover"></app-info-button>
</mtx-loader>