.kpi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: none;
}

.kpi-container {
    display: flex;
    align-items: top;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.kpi-header {
    font-size: 300%;
}

.kpi-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    height: 100%;
}

.kpi-footer {
    margin-bottom: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 15px;
}

.kpi-icon {
    font-size: 1em;
}

.spacer {
    width: 48px;
}