@import '/src/styles.scss';

.kpi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: none;
}

.kpi-container {
    display: flex;
    align-items: top;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.kpi-header {
    font-size: 300%;
}

.kpi-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    height: 100%;
}

.mat-mdc-card-title {
    margin-bottom: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-kpi-chart-header;
    padding-bottom: 15px;
    font-family: var(--highcharts-font-family);
}

.kpi-icon {
    font-size: 1em;
}

.spacer {
    width: 48px;
}

.additional-info-text{
    font-size: 150%;
    color: $subtle-black;
}

.additional-info-footer{
    font-size: 0.8em;
    color: $subtle-black;
}