@import '/src/styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  margin-top: 2em;
}
  
.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 2em;
}

.table {
  margin: 2em;
}