<div>
    <div class="header">
        <div id="table-header-title" class="title">
            {{title}}
            <app-info-button [popover]="popover"></app-info-button>
        </div>  
        <app-export-button class="header-actions" color="primary" [dataLoader]="toCSVArray.bind(this)" [fileName]="this.title + '.csv'"></app-export-button>
    </div>

    <div class="table">
        <mtx-grid 
            [data]="data" 
            [columns]="columns" 
            [expandable]="true" 
            [expansionTemplate]="expansionTpl"
            [pageOnFront]="false"
            [showPaginator]="false"
            (expansionChange)="onExpansionChange($event)"
        >
        </mtx-grid>
    </div>
</div>

<ng-template #expansionTpl let-row>
    <mtx-grid 
        [data]="row.dataPaginated" 
        [columns]="subColumns" 
        [length]="row.length"
        [pageSizeOptions]="row.pageSizeOptions"
        [pageOnFront]="false"
        (page)="row.nextPage($event)"
    >
    </mtx-grid>
</ng-template>
