<div>
    <div class="header">
        <div class="header-title">
            {{title}}
            <app-info-button [popover]="popover"></app-info-button>
        </div>  
        <app-export-button color="primary" [dataLoader]="toCSVArray.bind(this)" [fileName]="this.title + '.csv'"></app-export-button>
    </div>

    <mtx-grid 
        [data]="data" 
        [columns]="columns" 
        [expandable]="true" 
        [expansionTemplate]="expansionTpl"
        [pageOnFront]="false"
        [showPaginator]="false"
        (expansionChange)="onExpansionChange($event)"
    >
    </mtx-grid>
</div>

<ng-template #expansionTpl let-row>
    <mtx-grid 
        [data]="row.dataFiltered" 
        [columns]="subColumns" 
        [length]="row.data.length"
        [pageSizeOptions]="row.pageSizeOptions"
        [pageOnFront]="false"
        (page)="row.nextPage($event)"
    >
    </mtx-grid>
</ng-template>
