 .flex-container {
    display: flex;

    
  }
  
  .item {
    flex: 1;
    transform: scale(0.6);
    margin-top: -7em;
  }

  .line{
    margin-top: - 4.2em;
    transform: scale(0.7);
    height: 20em;
    width: 20em;
  }
  
  .flex-column {
    display: flex;
    flex-direction: row;
   
  }
  
  .sub-item {
    flex: 1; 
    margin-top: -50px;
    margin-right: 40px; 
    transform: scale(0.75);
  }
  