// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;

@import 'https://code.highcharts.com/css/highcharts.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//colors
$fill-color-1: #D7FAEE;
$fill-color-2: #DDEFFC;
$fill-color-3: #D9DCFF;
$fill-color-4: #FEF4C7;
$accent-color: #F47659; //example: bullet points
$background-color: #FAFAFC; //from mock-up #FAFAFC
$icon-color: #575757;
$text-color: #2C2E33;
$white-background: #FFFFFF;

//font styles
@import url('https://fonts.googleapis.com/css2?family=Lucida+Grande&display=swap');

$custom-font-family: 'Lucida Grande', sans-serif;
$font-size-default: 16px;
$font-size-view-header: 1.5625em;
$font-size-chart-header: 1.125em;
$font-size-chart-legend: 0.625em;
$font-size-navigation: 0.875em;
$font-size-button: 0.6875em;



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$red-palette);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

//colors for highcharts. Pallette: https://coolors.co/palette/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1
$hc-green-light: #90BE6D; // biomas
$hc-green-medium: #43AA8B; // other renewables
$hc-green-dark: #4D908E; // wind off shore
$hc-blue-light: #277DA1; // hydro power
$hc-blue-medium: #577590; // wind onshore
$hc-yellow: #F9C74F; // solar
$hc-orange-light: #F8961E;
$hc-orange-medium: #F9844A;
$hc-orange-dark: #F3722C;
$hc-red: #F94144;
$hc-brown: #db7c26; // braunkohle
$hc-gray: #bfbdc1; // natural gas
$hc-gray-dark: #908e98; // other conventials
$hc-black: #000000; // hard coal 
$hc-blue-very-dark: #3f3179; // pump storage

:root {
  --highcharts-color-0:  #{$hc-green-light} !important;
  --highcharts-color-1: #{$hc-green-medium} !important;
  --highcharts-color-2:#{$hc-green-dark} !important;
  --highcharts-color-3: #{$hc-blue-light} !important;
  --highcharts-color-4: #{$hc-blue-medium} !important;
  --highcharts-color-5:  #{$hc-yellow} !important;
  --highcharts-color-6: #{$hc-orange-light} !important;
  --highcharts-color-7:#{$hc-orange-medium} !important;
  --highcharts-color-8: #{$hc-orange-dark} !important;
  --highcharts-color-9: #{$hc-brown} !important;
  --highcharts-color-10: #{$hc-red} !important;
  --highcharts-color-11: #{$hc-gray} !important;
  --highcharts-color-12: #{$hc-gray-dark} !important;
  --highcharts-color-13: #{$hc-black} !important;
  --highcharts-color-14: #{$hc-blue-very-dark} !important;
}



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);
@include mtx.all-component-themes($frontend-theme);