// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;

@import '/src/highcharts.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Zeemobase palette
$subtle-black: #141414;
$dark-gray: #404040;
$middle-gray: #7D7D7D;
$light-gray: #D6D6D6;
$soft-white: #F1F1F1;

$scientific-blue: #4977FC;
$scientific-blue-tone: #6E92F8;
$scientific-blue-soft: #A0C3F8;
$scientific-blue-delicate: #D4DFF6;

$energy-green:  #43CDA0;
$energy-green-tone: #6BE8C0;
$energy-green-soft: #9DE6CE;
$energy-green-delicate: #C3EFE1;

$power-red:  #D0145A;
$power-red-tone: #E4597A;
$power-red-soft:  #EF7E9C;
$power-red-delicate: #F6B1C0;

$background-color: $soft-white;
$icon-color: $subtle-black;
$text-color: $subtle-black;

//font styles
$custom-font-family: 'Nunito Sans', sans-serif;
$font-size-default: 16px;
$font-size-view-header: 1.5625em;
$font-size-chart-header: 1.125em;
$font-size-chart-legend: 0.625em;
$font-size-navigation: 0.95em;
$font-size-button: 0.95em;

body {
  font-family: $custom-font-family;
}

#reset-filter-button {
  font-size: $font-size-button;
  background-color: $power-red;
  color: $soft-white;
}

#export-button {
  font-size: $font-size-button;
  background-color: $scientific-blue;
  color: $soft-white;
}

#info-menu-button {
  font-size: $font-size-button;
  background-color: $energy-green;
  color: $soft-white;
}

#info-button {
  color: $power-red;
}

#kpi-icon {
  color: $scientific-blue-tone; 
}



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$red-palette);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

$frontend-typography: mat.define-typography-config(
  $font-family: $custom-font-family,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  ),
  typography: $frontend-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);
@include mtx.all-component-themes($frontend-theme);


//colors for highcharts. Pallette: https://coolors.co/palette/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1
$hc-biogas: #7FBF69; // Light green for biogas
$hc-biogas-local: #709157; // Olive for biogas local
$hc-biomass: #526B38; // Dark green for biomass
$hc-other-renewables: #5BCCB8; // Turquoise for other renewables
$hc-wind-offshore: #58A08B; // Teal for offshore wind
$hc-hydro-power: #3497B2; // Medium blue for hydro power
$hc-wind-onshore: #4C6F87; // Slate blue for onshore wind
$hc-solar-local: #FFD966; // Light yellow for solar

$hc-brown-coal: #A95E32; // Sienna for brown coal
$hc-natural-gas: #C4C2C8; // Silver for natural gas
$hc-other-conventionals: #797B82; // Gray for other conventionals
$hc-hard-coal: #333333; // Black for hard coal
$hc-pump-storage: #634D94; // Royal purple for pump storage

$hc-solar-imported: #FFB36E; // Peach for solar imported
$hc-orange-medium: #FF9C66; // Apricot for medium orange
$hc-orange-dark: #FF8365; // Coral for dark orange
$hc-red: #FF6473; // Salmon red

$hc-year-shadow-comparison-chart: #C9CAD1; // Silver for shadow comparison chart
$hc-year-comparison-chart: #8CAEDC; // Sky blue for year comparison chart
$hc-mean-comparison-chart: #5D7BA2; // Steel blue for mean comparison chart

$hc-renewable-energy: #3CA080; // Emerald green for renewable energy
$hc-non-renewable-energy: #797C88; // Slate gray for non-renewable energy

$hc-kpi: $scientific-blue-tone; // scientific blue for kpis




:root {
    --highcharts-color-0: #{$hc-biogas};
    --highcharts-color-1: #{$hc-biomass};
    --highcharts-color-2: #{$hc-other-renewables};
    --highcharts-color-3: #{$hc-wind-offshore};
    --highcharts-color-4: #{$hc-hydro-power};
    --highcharts-color-5: #{$hc-wind-onshore};
    --highcharts-color-6: #{$hc-solar-local};
    --highcharts-color-7: #{$hc-brown-coal};
    --highcharts-color-8: #{$hc-natural-gas};
    --highcharts-color-9: #{$hc-other-conventionals};
    --highcharts-color-10: #{$hc-hard-coal};
    --highcharts-color-11: #{$hc-pump-storage};
    --highcharts-color-12: #{$hc-solar-imported};
    --highcharts-color-13:#{$hc-orange-medium};
    --highcharts-color-14: #{$hc-orange-dark};
    --highcharts-color-15: #{$hc-red};
    --highcharts-color-16: #{$hc-year-shadow-comparison-chart};
    --highcharts-color-17: #{$hc-year-comparison-chart};
    --highcharts-color-18: #{$hc-mean-comparison-chart};
    --highcharts-color-19: #{$hc-renewable-energy};
    --highcharts-color-20: #{$hc-non-renewable-energy};
    --highcharts-color-21: #{$hc-biogas-local};
    --highcharts-color-22: #{$hc-kpi};

    --highcharts-font-family: #{$custom-font-family};

    // this is currently only used for the average line in column charts
    --highcharts-neutral-color-40: #{$power-red}; 
    // --highcharts-neutral-color-100: #ff0000;
}

// this is the style of the page header
.title {
  height: 30px;
  font-size: $font-size-view-header;
  font-weight: normal;
  margin-left: 2em;
}