.table-container {
    overflow-x: auto;
    overflow-y: auto;
    padding: 1vw; 
    border-radius: 0.3vw;
}

.even-row {
    background-color: #f9f9f9; 
  }
  
  .odd-row {
    background-color: #ffffff; 
  }


