@import '/src/styles.scss';


.logo{
    transform: scale(1);
    margin: 1em 2em 1em 1em;
}

.mat-drawer-container {
    background-color: $white-background;
   
}

.mat-sidenav{
    background-color: $background-color;
    border: none !important;
    width: 15em;
    font-size: $font-size-navigation;
    padding: 0.5em;


    .material-symbols-outlined {
        padding-right: 0.5em;
        vertical-align: middle;
    }
}  

.bottom-icons{
    position: relative;
    bottom: -18em;
    span{
        color: $text-color;
        opacity: 0.7;
    }
}

.selected-menu-item {
    font-weight: bold;
  }

