<mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="true" mode="side">
      <mat-nav-list>
        <div class="logo">
          <a routerLink="/">
              <img src="./assets/logo.svg">
          </a>
        </div>
        <span *ngFor="let menuItem of menuItems" [class.selected-menu-item]="isSelected(menuItem.route)">
            <a mat-list-item  [routerLink]="menuItem.route" queryParamsHandling="merge">
                <span class="entry">
                  <span class="material-symbols-outlined">{{menuItem.icon}}</span>
                  <span class="item-name">{{menuItem.name}}</span>
                </span>
              </a>
        </span>
      </mat-nav-list>
      <mat-nav-list class="bottom-list">
        <span *ngFor="let menuItem of menuItemsOrg" [class.selected-menu-item]="isSelected(menuItem.route)">
            <a mat-list-item  [routerLink]="menuItem.route" >
                <span class="entry">
                  <span class="material-symbols-outlined">{{menuItem.icon}}</span>
                  <span>{{menuItem.name}}</span>
                </span>
              </a>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mtx-loader [loading]="loading" type="spinner" color="primary" [hasBackdrop]="true">
        <router-outlet></router-outlet>
      </mtx-loader>
    </mat-sidenav-content>
</mat-sidenav-container>