<mat-sidenav-container fullscreen>
    <mat-sidenav [opened]="true" mode="side">
      <mat-nav-list>
        <div class="logo">
            <img src="./assets/logo.svg">
        </div>
        <span *ngFor="let menuItem of menuItems" [class.selected-menu-item]="isSelected(menuItem.route)">
            <a mat-list-item  [routerLink]="menuItem.route">
                <span class="entry">
                  <span class="material-symbols-outlined">{{menuItem.icon}}</span>
                  <span>{{menuItem.name}}</span>
                </span>
              </a>
        </span>
        <span *ngFor="let menuItem of menuItemsOrg" class="bottom-icons" [class.selected-menu-item]="isSelected(menuItem.route)">
            <a mat-list-item  [routerLink]="menuItem.route" >
                <span class="entry">
                  <span class="material-symbols-outlined">{{menuItem.icon}}</span>
                  <span>{{menuItem.name}}</span>
                </span>
              </a>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>