:host {
    --nav-drawer-width: 13vw;
}

.sidebar{
    width: var(--nav-drawer-width);
}
.logo{
    transform: scale(1);
    margin: 2vw 1vw 1vw 2vw;
}

.mat-drawer-container {
    background-color: white;
}

.mat-sidenav{
    background-color: #FAFAFC;
    width: var(--nav-drawer-width);

    .material-symbols-outlined {
        padding: 1vw;
        vertical-align: middle;
    }
}  

.bottom-icons{
    position: relative;
    bottom: -18vw;
    span{
        color: gray;
    }
}

.selected-menu-item {
    background-color: transparent;
    position: relative;
  }

  .selected-menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5vw; 
    height: 100%; 
    background-color: #C4C9FF;
  }
  
  .selected-menu-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: #C4C9FF; 
    opacity: 0.3; 
    z-index: -1;
  }
