@import '/src/styles.scss';


.logo{
    transform: scale(1);
    margin: 1em 2em 1em 1em;
}

.mat-sidenav-container {
    background-color: $white-background;
    
}

.entry {
    display: flex;
    align-items: center;
}

.item-name {
    text-wrap: wrap;

}

.mat-sidenav{
    background-color: $background-color;
    width: 15em;
    font-size: $font-size-navigation;
    padding: 0.5em;
    border: none !important;
    overflow-x: hidden; // fix for small horizontal scroll bar appearing. This can be fixed later with a better solution


    .material-symbols-outlined {
        padding-right: 0.5em;
        vertical-align: middle;
    }
}  

.bottom-list{
    position: absolute;
    bottom: 0;
    width: 100%;

    span{
        color: $text-color;
        opacity: 0.7;
    }
}

.selected-menu-item {
    font-weight: bold;
  }

