@import '/src/styles.scss';

h2{
    font-size: $font-size-view-header;
    font-weight: normal;
    margin-left: 2em;
}

.diagram-container{
    display: flex;
    gap: min(5vh, 5vw);
    height: 40%;
    margin: 0 2em;
}

.title {
  height: 10%;
}

.page-container {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
}

.item{
    flex: 1 1 auto;
    height: 100%;
}

.top-item{
  width: 50%;
}

.bottom-item{
  width: 25%;
}

@media (max-width: 1000px) {
  .diagram-container {
    flex-direction: column;
    height: 100%;
  }

  .item {
    width: 100% !important;
    height: 100vh !important;
  }
}