<app-command-bar></app-command-bar>
<div class="page-container">
    <h2 class="title">Overview <app-info-button [popover]="popover"></app-info-button></h2>
    <div id="top-diagrams" class="diagram-container"> 
        <app-energy-consumption-diagram class="item top-item"></app-energy-consumption-diagram>
        <app-energy-mix-diagram class="item top-item"></app-energy-mix-diagram>
    </div>
    <h2 class="title">KPIs</h2>
    <div class="diagram-container kpi-container">
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.SELF_CONSUMPTION"></app-kpi-chart>
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.AUTARKY"></app-kpi-chart>
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.CO2_SAVINGS"></app-kpi-chart>
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.COST_SAVINGS"></app-kpi-chart>
    </div>
    <div class="diagram-container kpi-container">
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.TOTAL_CONSUMPTION"></app-kpi-chart>
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.TOTAL_PRODUCTION"></app-kpi-chart>
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.TOTAL_CO2_EMISSIONS_PER_KWH"></app-kpi-chart>
        <app-kpi-chart class="item bottom-item" [kpiName]="KPI.TOTAL_COSTS_PER_KWH"></app-kpi-chart>
    </div>
</div>

<mtx-popover #popover="mtxPopover">
    <ng-template mtxPopoverContent>
        <b>Consumed Energy by Source [upper left]: </b> test <br>
        <b>Energy Mix and Consumption [upper right]: </b> test <br>
        <b>KPI's [lower part]: </b>
        <p> Formula: \( K_1 = min(\frac{{ '{' }}Consumption{{ '}' }}{{ '{' }}GeneratedEnergy{{ '}' }}, 1)\)</p>
    </ng-template>
</mtx-popover>