@import '/src/styles.scss';

.diagram-container{
    display: flex;
    gap: min(5vh, 5vw);
    margin: 0 2em;
}

#top-diagrams {
  height: 50%;
}

.kpi-container {
  height: 25%;
}


.title {
  height: 30px;
  font-size: $font-size-view-header;
  font-weight: normal;
  margin-left: 2em;
}

.page-container {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
}

.item{
  flex: 1 1 auto;
  height: 100%;
  min-height: 200px;
}

.top-item{
  width: 50%;
}

.bottom-item{
  width: 25%;
}

@media (max-height: 950px) {
  .diagram-container {
    height: 100%;
  }

  #top-diagrams {
    height: 100%;
  }

}

@media (max-width: 1000px) {
  .diagram-container {
    flex-direction: column;
    height: auto;
  }

  .item {
    width: 100% !important;
  }
}