<app-command-bar></app-command-bar>
<div class="page-container">
    <h2 class="title">Overview <app-info-button [popover]="popover"></app-info-button></h2>
    <div id="top-diagrams" class="diagram-container"> 
        <app-energy-consumption-diagram class="item top-item"></app-energy-consumption-diagram>
        <app-energy-mix-diagram class="item top-item"></app-energy-mix-diagram>
    </div>
    <h2 class="title">KPIs</h2>
    <div class="diagram-container kpi-container">
        <div class="sub-kpi-container">
            <app-kpi-chart class="item bottom-item" [kpiName]="KPI.SELF_CONSUMPTION"></app-kpi-chart>
            <app-kpi-chart class="item bottom-item" [kpiName]="KPI.AUTARKY"></app-kpi-chart>
        </div>
        <div class="sub-kpi-container">
            <app-kpi-chart class="item bottom-item" [kpiName]="KPI.CO2_SAVINGS" [popover]="co2savingsPopover"></app-kpi-chart>
            <app-kpi-chart class="item bottom-item" [kpiName]="KPI.COST_SAVINGS" [popover]="costSavingsPopover"></app-kpi-chart>
        </div>
    </div>
    <div class="diagram-container kpi-container">
        <div class="sub-kpi-container">
            <app-kpi-chart class="item bottom-item" [kpiName]="Artificial.TOTAL_CONSUMPTION"></app-kpi-chart>
            <app-kpi-chart class="item bottom-item" [kpiName]="Artificial.TOTAL_PRODUCTION"></app-kpi-chart>
        </div>
        <div class="sub-kpi-container">
            <app-kpi-chart class="item bottom-item" [kpiName]="Artificial.TOTAL_EMISSIONS"></app-kpi-chart>
            <app-kpi-chart class="item bottom-item" [kpiName]="KPI.TOTAL_COSTS_PER_KWH"></app-kpi-chart>
        </div>
    </div>
</div>

<mtx-popover #popover="mtxPopover">
    <ng-template mtxPopoverContent>
        <div class = "popup">
        <p>This dashboard presents the energy consumption and production within the microgrid, along with the corresponding CO₂ emissions and costs. It provides insights into its autarky, share of renewable energy, and CO₂ and cost savings.</p>

        <p><b>Chart Consumed Energy by Source:</b> This bar chart illustrates the volume of energy consumption over various timestamps, categorizing it into two main groups: local and external energy sources. The external energy sources are further subdivided to highlight the proportions of renewable and non-renewable energy.</p>

        <p><b>Chart Energy Mix:</b> The primary view of this chart presents the distribution of emissions associated with the energy consumption within the microgrid, segmented by their respective sources. Upon selecting 'Show Consumption', it transitions to display the breakdown of the energy consumption, distinctly categorized by the different energy sources.</p>

        <p>For more information, visit the info page.</p>
    </div>
    </ng-template>
</mtx-popover>

<mtx-popover #co2savingsPopover="mtxPopover">
    <ng-template mtxPopoverContent>
        <div class = "popup">
        <p>The formula of this metric calculates the CO₂ savings by first determining the total emissions that would have resulted from using external energy sources to generate the same amount of energy as the microgrid generated (i.e. summing across all the external energy sources considering their share in the energy mix and their respective emission factors). It then subtracts from this value the microgrid's own direct emissions caused by its energy generation.</p> 
        <p>Current calculation use the lifecycle emission factors from 2014 by the IPCC.</p>
        <p>For more information, visit the info page.</p>
    </div>
    </ng-template>
</mtx-popover>

<mtx-popover #costSavingsPopover="mtxPopover">
    <ng-template mtxPopoverContent>
        <div class = "popup">
        <p>The cost savings KPI measures the financial benefit of locally produced energy in a microgrid by calculating the savings achieved compared to purchasing the same amount of energy at external electricity prices. </p>
        <p>For calculating cost savings the electricity prices from SMARD by the Bundesnetzagentur are used. These are day-ahead spot market prices, not consumer prices.</p>
        <p>For more information, visit the info page.</p>
    </div>
    </ng-template>
</mtx-popover>